/* .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
.bouncing-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bouncing-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blueviolet; /* Set the circle color */
  animation: bounce 0.3s infinite; /* Use the bounce animation for 1 second, and repeat infinitely */
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}
